:root {
    --bgcolor: #353A40;
    --textcolor: white;
    --bgbtn: #29A744;
 }
 
 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
 }
 
 header {
    background-color: var(--bgcolor);
    height: 4.2em;
    color: var(--textcolor);
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    .logo {
       display: inline-block;
       margin-left: 2em;
       & img {
          height: 4em;
          vertical-align: middle;
       }
       & h2 {
          display: inline-block;
       }
    }
    & nav {
       float: right;
       padding: 1.5em 2em;
       & a {
          text-decoration: none;
          color: var(--textcolor);
          margin: 0 .5em;
       }
       .ticket {
          color: var(--bgbtn);
       }
    }
 }
 
 main {
    .principal {
       position: relative;
       & img {
          filter: brightness(0.5);
       }
       .content-principal {
          width: 40%;
          position: absolute;
          top: 50vh;
          color: var(--textcolor);
          text-align: right;
          right: 4em;
          line-height: 1.5em;
          & p{
             margin: 1.5em 0;
          }
          & a {
             border: 1px solid var(--textcolor);
             border-radius: 5px;
             text-decoration: none;
             color: var(--textcolor);
             padding: 15px 20px;
          }
          .btn-color {
             background-color: var(--bgbtn);
             border: 1px solid var(--bgbtn);
          }
       }
    }
 }
 
 .grid-content {
    display: grid;
    grid-template-areas: 'orador orador'
                'paisaje descrip'
                'formulario formulario';
    grid-template-columns: 50% 50%;            
    grid-template-rows: auto auto auto;
    .item-1 {
       grid-area: orador;
       .content-card {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-evenly;
          & div[class^='card'] {
             width: 250px;
             & img {
                width: 100%;
             }
          }
       }
    }
    .item-2 {
       grid-area: paisaje;
       & img {
          width: 100%;
          height: 100%;
       }
    }
    .item-3 {
       grid-area: descrip;
       background-color: var(--bgcolor);
       color: var(--textcolor);
       padding: 1em;
    }
    .item-4 {
       grid-area: formulario;
    }
 }
 /* Form */
 .container {
   font-family: Arial, sans-serif;
   background-color: #f0f0f0;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: #fff;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   text-align: center;
}

form {
   display: flex;
   flex-direction: column;
   align-items: center;
}

label {
   font-weight: bold;
   margin-bottom: 5px;
   color: #666;
}

input[type="text"],
input[type="email"],
textarea {
   width: 100%;
   padding: 10px;
   margin-bottom: 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
   font-size: 16px;
}

button {
   background-color: #007bff;
   color: #fff;
   padding: 10px 20px;
   border: none;
   border-radius: 4px;
   font-size: 18px;
   cursor: pointer;
}

button:hover {
   background-color: #0056b3;
}


div.boxText {
   display: flex;
   flex-direction: column;
   align-items: center;
}

footer {
   display: flex;
   justify-content: center;
   background-color: #29A744;
}

footer div.containerFooter {
   width: 80%;
}

footer ul.navbar-nav {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}

 